In [29]:
# Dependencies
import pandas as pd

In [30]:
# load CSV
file = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [31]:
# Read with pandas--low_memory required to suppress errors about mixed data types
coders_df=pd.read_csv(file)
coders_df

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,bachelor's degree,Chemistry,NaN
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,bachelor's degree,Electrical Engineering,NaN
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Chemistry,NaN
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,master's degree (non-professional),Math,NaN
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Graphic Design,40000.0

In [32]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
Extracted_coders_df= coders_df.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
Extracted_coders_df

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Kenya,software development and IT,Self-employed freelancer,male,0.0,40.0,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,0.0,15.0,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Nigeria,NaN,Self-employed freelancer,male,NaN,14.0,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Spain,education,Self-employed freelancer,male,NaN,10.0,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,0.0,2.0,18000.0,NaN,bachelor's degree,Graphic Design

In [60]:
# Change reading 0 and 1 to No and Yes, respectively
coders_df["AttendedBootcamp"] = coders_df["AttendedBootcamp"].replace({0: "No", 1: "Yes"})
coders_df["AttendedBootcamp"].value_counts()

No     14427
Yes      953
Name: AttendedBootcamp, dtype: int64

In [34]:
# Extract rows for only those who attended a bootcamp
attended_bootcamp = Extracted_coders_df.loc[Extracted_coders_df['AttendedBootcamp'] == "Yes"]
attended_bootcamp.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [62]:
attended_bootcamp_count = attended_bootcamp["BootcampName"].value_counts().count()
attended_bootcamp_count = attended_bootcamp["BootcampName"].value_counts().loc[lambda x : x>25].count()

print(f"Significant Bootcamps")
print(f"------------------------------------\n")

KeyError: 'BootcampName'

In [48]:
# Create DataFrame of the different boot camps that had a significant number of attendees
Bootcampnames_df = coders_df.groupby(["BootcampName"])
print(Bootcampnames_df)
NewBootcamp_df = Bootcampnames_df.count().sort_values("AttendedBootcamp", ascending=False).head()
NewBootcamp_df = NewBootcamp_df[["AttendedBootcamp"]].head()
NewBootcamp_df

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f9f1dad5cd0>

                       AttendedBootcamp
BootcampName
General Assembly                     90
Flatiron School                      54
Dev Bootcamp                         48
The Iron Yard                        40
Prime Digital Academy                30

In [57]:
# Count how many attendees of each bootcamp would recommend the bootcamp

recommend_bootcamp =NewBootcamp_df.groupby(["BootcampName"]).count()
sign_bootcamp_group 
recommend_bootcamp_df = pd.DataFrame(recommend_bootcamp)
recommend_bootcamp_df

                       AttendedBootcamp
BootcampName
Dev Bootcamp                          1
Flatiron School                       1
General Assembly                      1
Prime Digital Academy                 1
The Iron Yard                         1

In [45]:
# Merge the two created data frames on the name of tbe bootcamp
recommend_bootcamp = pd.DataFrame(recommend_bootcamp.groupby(["BootcampName"]).count()
highly_recommend_bootcamp = recommend_bootcamp["BootcampRecomment"]

SyntaxError: invalid syntax (<ipython-input-45-4c678714665d>, line 3)

In [ ]:
highly_recommend_bootcamp = recommend_bootcamp["BootcampRecomment"]

In [19]:
# Calculate percentage of eac bootcamp's students who are recommenders

In [ ]:
# Export to excel and remove index